CollegeDistance.csv
CollegeDistance_processed.csv
comparison_metrics.csv
tuning_metrics.csv

scatter_plots.png
distribution.png
histogram.png
correlation_heatmap.png
histogram_processed.png
scatter_plots_processed.png
distribution_processed.png
feature_importance.png
cooks_distance.png
learning_curve.png
prediction_error.png
Residuals.png

analysis.log
feature_engineering.log
visualization.log
markdown_table.log
logs.log
model_training.log

pre_categorical_analysis.txt
pre_categorical_distribution.txt
pre_numeric_analysis.txt
post_categorical_analysis.txt
post_categorical_distribution.txt
post_numeric_analysis.txt
comparison_metrics.txt
tuning_metrics.txt
missing.txt