workflow_diagram.png
boxplots.png
correlation_matrix.png
histograms.png

split_data.log
data_analysis.log
markdown_table.log
cleanup_data.log
automl.log
logs.log

bank-additional-full.csv
test_data.csv
train_data.csv
train_data_cleaned.csv
test_data_cleaned.csv
train_data_processed.csv


missing.txt
categorical_analysis.txt
numeric_analysis.txt
comparison_metrics.txt
tuning_metrics.txt
metrics.txt
evaluation_report.txt

.env