CollegeDistance.csv
scatter_plots.png
distribution.png
histogram.png
correlation_heatmap.png
analysis.log
feature_engineering.log
visualization.log
CollegeDistance_processed.csv
pre_categorical_analysis.txt
pre_categorical_distribution.txt
pre_numeric_analysis.txt
post_categorical_analysis.txt
post_categorical_distribution.txt
post_numeric_analysis.txt
histogram_processed.png
scatter_plots_processed.png
distribution_processed.png